


.banner{position: relative;padding:0 90px 20px 90px; text-align: center;border-bottom:1px solid #ccc;}
.banner .list_wrap{width:100%;overflow: hidden;}
.banner .list_wrap ul{display: inline-block;position: relative;overflow: hidden;height: 200px;width: 100%;z-index: 10;padding: 0;}
.banner .list_wrap ul li{display: flex;width: 100%;height: 100%;background: #ddd;text-align: center;}
.banner .list_wrap ul li a{display: block;padding:20px;display: flex;flex-direction: column;justify-content: center;width: 100%;text-decoration: none;color: #222;font-size: 30px;}
.banner .list_wrap ul li a img{display: block;width:130px;height:130px;background: #ccc;}
.banner .list_wrap ul li a span{display: block;margin:20px 0 0;}
.banner .control{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;}
.banner .control button{position: absolute;top:calc(50% - 25px);width:50px;height:50px;}
.banner .control button.prev{left: 0;}
.banner .control button.next{right: 0;}
