@charset "utf-8";

.layout{max-width:1200px;margin:0 auto;}

svg { }
svg path{  
d:path('M887.26,199.79C846.2,164.76,796.7-46.47,627.13,63.55c-87.61,56.84-235.35-48.8-357.63-12.31C157.2,84.75,146.38,195.15,157.24,231.12c21.95,72.67-46.35,83.48-109.72,114.7c-99.39,48.97-26.3,221.09,67.59,221.91c44.1,0.39,192.98,0.05,338.48-0.42c164.28-0.53,324.26-1.22,324.26-1.22s136.4,0.34,193.13-74.94C1032.02,410.14,993.32,290.26,887.26,199.79z');
animation: morph 10s linear infinite alternate;fill:#d8e4ff;
} 
@keyframes morph {
    0%, 100%{
        d:path('M887.26,199.79C846.2,164.76,796.7-46.47,627.13,63.55c-87.61,56.84-235.35-48.8-357.63-12.31C157.2,84.75,146.38,195.15,157.24,231.12c21.95,72.67-46.35,83.48-109.72,114.7c-99.39,48.97-26.3,221.09,67.59,221.91c44.1,0.39,192.98,0.05,338.48-0.42c164.28-0.53,324.26-1.22,324.26-1.22s136.4,0.34,193.13-74.94C1032.02,410.14,993.32,290.26,887.26,199.79z');
    }
    30%{
        d:path('M894.54,132.88c-27.53-46.42-46.89-88.79-282.33-94.77c-104.4-2.65-95.2,88.22-217.48,124.7c-112.3,33.51-199.52-10.97-248.41,77.81c-36.61,66.5-35.44,73.97-98.8,105.2c-99.39,48.97,20.87,209.23,114.76,210.05c44.1,0.39,148.96,61.84,292.3,36.91c183.56-31.92,323.26-26.69,323.26-26.69s121.68,1.75,193.13-74.94C1040.12,416.93,961.39,245.61,894.54,132.88z')
    }
    60%{
        d:path('M789.79,223.67C751.08,186.06,825.71,37.11,618.2,17.16c-103.96-10-163.04,11.4-285.32,47.89c-112.3,33.51-67.84,92.78-116.72,181.57c-36.61,66.5-124.7-13.97-168.64,99.21C7.43,449.11,96.73,463.95,184.24,498.01c130.69,50.88,187.92,110.18,331.27,85.25c183.56-31.92,262.34-17.17,262.34-17.17s164.01,25.75,193.13-74.94C1012.26,348.37,895.12,325.99,789.79,223.67z')      }
}


