@charset "utf-8";

body{overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif;}

.header{position: fixed;left:calc(50% - 25px);top:50px;width:50px;animation:nata 1s 4s linear forwards;opacity: 0;}
.header a{color:#0e111c;font-size:30px;font-weight: 900;}
.nav{position: fixed;animation:nata 1s 4s linear forwards;opacity: 0;z-index: 999;}
.nav .menu{position:fixed;left:100px;top:50px;display:block;width: 50px;height: 30px;text-align: center;font-size:0;}
.nav .menu span{display: inline-block;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;}
.nav .menu:before{display: inline-block;position: absolute;left: 10px;top:0;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;content:'';}
.nav .menu:after{display: inline-block;position: absolute;right: 10px;top:0;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;content:'';}
.nav .file{position:fixed;left:100px;bottom:100px;display: inline-block;font-size:0;}
.nav .file:after{overflow:hidden;position: absolute;left: 70px;top: 13px;width:0;content: '이력서 보기';font-size:20px;color:#0e111c;white-space: nowrap;transition: 0.3s;}
.nav .file span{display:inline-block; width:50px;height:50px;background: url(/images/notion.png)center no-repeat;}
.nav .file:hover:after,
.nav .file:focus:after{width:200%;}


.cont01{height:100vh;/*background: linear-gradient(180deg, #0e111c,#05070b); */}
.cont01 .main-txt{overflow: hidden;display: flex;justify-content: center;align-items: center;height:100%;}
.cont01 .main-txt .title{position: relative;height:350px;}
.cont01 .main-txt .title .typing-txt{display:none;}
.cont01 .main-txt .title .typing{font-size: 10em;font-weight: 900;white-space:nowrap;letter-spacing: -10px;color:#0e111c;animation:txt1 1s ease-in forwards;}
.cont01 .main-txt .mimo{display:none; position: absolute;left:calc(50% - 210px);opacity:0;animation:mimo 1s 4s ease-in forwards;}

.cont01 .scroll{display: inline-block;position:fixed;right:100px;bottom:100px;animation:nata 1s 4s linear forwards;opacity: 0;}
.cont01 .scroll .arrow{}
.cont01 .scroll .bar{display:inline-block;width:220px;height:1px;background: #fff;}


.cont02{height:100vh;}
.cont02 .move-text{position: relative;display: flex;justify-content: center;align-items: center;height:100%;font-size:200px;transition: 0.5s;}
.cont02 .move-text .txtwrap .ftext{display: inline-block;vertical-align: top; color:#325efe;font-weight: 900;}
.cont02 .move-text .txtwrap ul{overflow: hidden; position: relative;left:-55px;display: inline-block;vertical-align: top;height:260px;width:1330px;font-weight: 900;}
.cont02 .move-text .txtwrap ul li{overflow: hidden; opacity: 0; position: absolute;left:0;top:0;width:0; color:#0e111c;letter-spacing: -10px;transition: 0.5s;}
.cont02 .move-text .txtwrap ul li.on{opacity:1;width:100%;animation:cont02_1 0.4s 0.3s ease-in forwards;}
.cont02 .move-text .txtwrap ul li:last-child{animation:none;}
.cont02 .move-text .txtcont{display:none;}
.cont02 .move-text .txtcont .pub{font-size: 40px;display: block;margin: 10px 0;font-weight: 900;}
.cont02 .move-text .txtcont p{font-weight: 300;font-size: 18px;line-height: 1.5;letter-spacing: -1px;}

.cont02.on .move-text{display: block;max-width: 1200px;margin: 0 auto;}
/* .cont02.on .move-text .txtwrap{opacity:0;display: none;} */
.cont02.on .move-text .txtcont{display: inline-block;padding-top:calc(50% - 150px);}


@keyframes cont02_1{
    0%{width:100%;}
    100%{width:0;}
}

/* animation */
@keyframes nata{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
@keyframes txt1{
    0%{height:100%;}
    100%{height:0;}
}
@keyframes mimo{
    0%{opacity: 0;transform: scale(2) rotate(0);}
    50%{transform: scale(1.5) rotate(0deg);}
    70%{transform: scale(1.2) rotate(30deg);}
    100%{opacity:1;transform: scale(1) rotate(0);}
}