@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body{overflow: hidden; background: url(/images/img02.png)right top no-repeat;}

*{letter-spacing: -1px;font-family: "Noto Sans KR", sans-serif;}
.layout{max-width:1200px;margin:100px auto;}

a{text-decoration: none;color:#333;}


a.a-link{display: inline-block;position: relative;top:50px; width:150px;height:150px;margin-bottom:50px;font-size:0;background: url(/images/img03.png)center no-repeat;background-size: 100%;transition:0.5s;}
a.a-link:hover{border-radius: 50%;}
a.c-link{display:block;padding:50px;max-width:50px;background:#03b466;color:#fff;transition:0.5s;}
a.c-link:hover{background:linear-gradient(#03ef67,#03b466);}
a.c-link:active{background: #03ef67;}

.naver{display: inline-block;position: relative;color: transparent;font-size: 100px;font-weight:900;-webkit-text-stroke: 2px #03c460;}
.naver:before{ overflow: hidden;position: absolute;top: 0;left: 0;width: 0;color: #03c460;white-space: nowrap;content: attr(data-hover);transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);}
.naver:hover:before{width:100%;}

.naverwrap{display: block;text-align: center;}
.naverwrap .naver{top:0;right:-40%;opacity:0; padding:0 30px;font-size: 150px;line-height: 1;animation:naver 1s ease-in forwards;}

@keyframes naver{
    0%{right:-40%;opacity:0;}
    100%{right:0;opacity:1;}
}
.naverwrap .naver:before{width:100%;height:0;}
.naverwrap .naver:hover:before{height:100%;}

.naverbox{position:relative;display: inline-block;padding:30px;margin-top:100px;}
.naverbox:before{display: inline-block;position:absolute;left:-1300%;top:0;width:1000%;height:500%;background:#03c460;content:'';animation:before 1.5s ease-in 0.5s forwards;}
@keyframes before{
    0%{left:-1300%;}    
    50%,70%{left:0;height:500%;}
    100%{left:0;height:0;}
}
.naverbox .naver03{opacity: 0;animation:naver3 0.5s ease-in 2s forwards;}
@keyframes naver3{
    0%{opacity:0;}
    100%{opacity:1;}
}



