@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{padding:0;margin:0;letter-spacing: -1px;font-family: "Noto Sans KR", sans-serif;box-sizing: border-box;}
a{text-decoration: none;color:#333;line-height: 1;}
ul,li{list-style: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}

.layout{max-width:1200px;margin:100px auto;}

/* 할일목록 */
.bg{position: relative;width:100%;height:100vh;background: url(../images/bg.jpg)center no-repeat;background-size: cover;}
.bg .task{position: absolute;left:50%;top:50%;width:500px;height:auto;padding:20px;transform: translate(-50%,-50%);background: #fff;border-radius:10px;box-shadow: 5px 5px 30px rgba(0,0,0,0.1);}
.bg .task h1{text-align: center;}
.bg .task h1 .task-tit{font-size: 30px;font-weight: 800;color:#333;}
.bg .task h1 #counter{position: relative;top: -2px;left: 0;display:inline-block;height:30px;width:30px;background: #00a1ff;border-radius: 50%;font-size: 20px;text-align: center;color: #fff;font-weight: 600;}
.bg .task ul{margin-top:20px;}
.bg .task ul li{position: relative; height:50px;padding-left:10px;line-height: 50px;border-bottom:1px solid #ddd;font-size:17px;cursor: pointer;transition:0.3s;}
.bg .task ul li:before{display:inline-block;position:absolute;left:10px;top:2px;font-size:17px;content:"\e9a8";font-family: 'boxicons'!important;transform: scale(0);transition:0.3s;}
.bg .task ul li:hover{padding-left:30px;color:#00a1ff;}
.bg .task ul li:hover:before{transform: scale(1);}
.bg .task ul li.new{color:#fff;background:#1ea1ff;}
.bg .task ul li.comp{color:#fff;background: url(../images/icon-trash.png)center right no-repeat,#999;border-top:1px solid #666;border-bottom:1px solid #666;}

#newTaskForm{display: flex;justify-content: space-between;margin:20px 0 0 0;}
input[type="text"],textarea,
input[type="password"]{width:85%;padding:10px;border:1px solid #ddd;border-radius: 5px;}
input[type="submit"],button{padding:0 30px;margin-left:5px;border-radius: 5px;background: #ddd;border:none;transition:0.3s;}
input[type="text"]:focus,textarea:focus,
input[type="password"]:focus{border:1px solid #0890ff;outline: none;}
input[type="submit"]:focus,
input[type="submit"]:hover{background:#333;cursor:pointer;color:#fff;}
